venv/
__pycache__/
*.pyc
.env
data/bronze/
data/silver/
data/gold/
data/*.db
data/*.duckdb
airflow/logs/
kafka/logs/
target/
dbt_packages/
.DS_Store
Thumbs.db
.vscode/
checkpoints/
data/dashboard.html